<div id="todo-{{ .ID }}" class="flex items-start gap-2 rounded-md bg-gray-300">
    {{ if .Checked }}
    <button hx-target="#todo-{{ .ID }}" hx-post="/todo/{{ .ID }}">
        Check
    </button>
    <h3>{{ .Title }}</h3>
    {{ else }}
    <button hx-target="#todo-{{ .ID }}" hx-post="/todo/{{ .ID }}">
        Uncheck
    </button>
    <h3 class="line-through">{{ .Title }}</h3>
    {{ end }}
    <button class="bg-red-300" hx-delete="/todo/{{ .ID }}" hx-target="#todo-{{ .ID }}" hx-swap="outerHTML">
        Delete
    </button>
</div>